.container {
  margin: 2rem auto;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks {
  color: var(--blue);
}

.tasks span {
  font-weight: 700;
  font-size: 0.75rem;
  padding: 2px 8px;
  border-radius: 20px;
  color: var(--gray-200);
  background: var(--gray-400);
}

.completedTasks {
  color: var(--purple);
}

.completedTasks span {
  font-weight: 700;
  font-size: 0.75rem;
  padding: 2px 8px;
  border-radius: 20px;
  color: var(--gray-200);
  background: var(--gray-400);
}

.tasksList {
  width: 100%;
  margin-top: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  padding-right: 0.4rem;
}

.noScroll {
  width: 100%;
  margin-top: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-height: 576px) {
  .tasksList {
    height: 18rem;
  }
}

@media screen and (min-height: 720px) {
  .tasksList {
    height: 20rem;
  }
}

@media screen and (min-height: 800px) {
  .tasksList {
    height: 28rem;
  }
}

@media screen and (min-height: 850px) {
  .tasksList {
    height: 28rem;
  }
}

@media screen and (min-height: 890px) {
  .tasksList {
    height: 31rem;
  }
}

@media screen and (min-height: 890px) {
  .tasksList {
    height: 31rem;
  }
}

@media screen and (min-height: 1080px) {
  .tasksList {
    height: 30rem;
  }
}

@media screen and (min-height: 1200px) {
  .tasksList {
    height: 18rem;
  }
}