.container {
  max-height: 100vh;
}

.containerTable {
  max-width: 70rem;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .containerTable {
    padding: 1rem;
  }
}